*{
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;
    font-family: 'Montserrat', sans-serif;
}
.box-header{
    display: flex;
    justify-content: center;
    padding: 30px 0;
    align-items: center;}
.box-header img{
    width: 15vw;
}
header{
    background-color:black;
}
header ul {
    list-style: none;
     text-align: center;
}
header ul li {
     display: inline-block;
     margin: 35px 15px 30px 10px;
     font-family: 'Montserrat', sans-serif;
     color: white;
 }
header ul li a{
     text-decoration: none;
     color: white;
     font-size: 1.5em;
 }
header ul li:first-child a,header ul li a:hover{
    color: #f9d068;
}

.header-box{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    padding:50px 0 ;
}
.header-item{
    display: flex;
    flex-direction: column;
}
.header-item img{
    align-self: center;
    width: 40vw;
}
.header-item h1{
    color: #f9d068;
    align-self: center;
    font-family: 'Cinzel', serif;
    font-weight: 600;
    font-size: 2.7em;
}
.header-item h2{
    color: white;
    align-self: center;
    font-weight: 300;
    margin: 40px 0;
    font-size:1.5em;
}
.header-item button.color {
    background-color:transparent;
    color: white;
    width: 18vw;
    height: 10vh;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    border: 2px solid #97814e;
    border-radius: 10px;
}

.pag-one h1{


    font-family: 'Cinzel', serif;
    font-weight: 400;
    width: 30%;
    display: block;
    margin: 0 auto;
    padding: 50px 0;
}

.p1-box{
    display: grid;
    grid-template-columns: 80%;
    grid-gap: 50px;
    justify-content: center;
    padding: 50px 0;
}
.p1-item p{
    margin: 20px 0;
    font-weight: 400;
    font-size: 1.2em;
}
.p1-item h3{
 margin: 20px 0;
}

.p1-2{
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 50px;
    justify-content: center;
    padding: 50px;
}
.p1-2-item img{
    height: 50vh;
}
.box-one{
    display: grid;
    grid-template-columns: 100%;
    border-radius: 35px;
    justify-content: space-around;
    box-shadow: 0 0 15px #dcdcdc;
}
.box-one:nth-child(2){
    display: grid;
    grid-template-columns: 100%;
    border-radius: 35px;
    justify-content: space-around;
    box-shadow: 0 0 15px #dcdcdc;
}
.b-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-one img{
    border-radius: 35px;

}
.box-one h3{
    font-size: 2em;
    font-family: 'Cinzel', serif;
    margin: 30px 0;
    text-align: center;
}
.box-one li{
    font-size: 1em;


}
.pag-one h2{
    text-align: center;
    font-size: 2.4em;
    font-family: 'Cinzel', serif;
    font-weight: 400;
    padding: 50px 0;
}
.pag-one h2 b{
    font-family: 'Cinzel', serif;

}
.instagram{
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
}

.faq h1{
    font-family: 'Cinzel', serif;
    font-weight: 400;
    text-align: center;
    padding: 50px 0;
}
#accordion{
    width:90%;
    display: block;
    margin: 50px auto;
    border-radius: 35px;
    box-shadow: 0 0 15px #dcdcdc;
}
.faq .btn{
    background-color: #f8f9fb;
    color: #f9d068;
        font-weight:600;
    font-size: .7em;
}
.collapse{
    background-color: #f3f3f3;
    color: #2b2b2b;
    font-weight:400;

}

.contact{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.c-item h3{
    font-size: 2em;
    font-family: 'Cinzel', serif;
    margin: 30px 0;
    text-align: center;
    color: #f9d068;
}
.c-item p{
    font-size: 1.2em;
    margin: 10px 0;
    text-align: center;
    color: white;
}
.c-item img{
    width: 2vw;
    margin: 0 10px;
}
.c-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}


form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 4%;
    justify-content: center;
}
form .input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
    justify-content:  center;
    width: 100%;  
    display: block;
    margin: 0 auto;
}
.input-fields input, .msg textarea{
    margin: 10px 0;
    background:transparent;
    border:0;
    border-bottom: 2px solid #f9d068;
    padding:10px;
    color: #f9d068;
    width:100%;
    justify-content: center;
    align-items: center;
}
.msg textarea{
    height: 80px;
    width: 100%;
}
.input-fields button{
    background-color: #f9d068;
    color: #f9d068;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    width: 38%;
}
.whatsapp a img{
    position: fixed;
    top: 81vh;
    right: 2.5%;
    width: 4vw;
    
}

footer p{
    text-align: center;
    padding: 15px 0;
   
}
footer p a{
    color:#f9d068 ;
    text-decoration: none;
    text-align: center;
}

@media screen and (max-width:900px){
    .box-header{
        flex-direction: column;
    }.box-header img{
        width: 40vw;
    }

    .header-box, .box-one{
        grid-template-columns: 80%;
    }
    .header-box img{
        width: 70vw;
        padding-top: 30px;
    }
    header ul li {
   
    }
    header ul li a{
        text-decoration: none;
        color: white;
        font-size: .5em;
    }
    .pag-one h1{

        font-size: 1.5em;
        font-family: 'Cinzel', serif;
        font-weight: 400;
        width: 80%;
        display: block;
        margin: 0 auto;
        padding: 50px 0;
    }
    .pag-one h2{
        font-size: 1.8em;
        font-family: 'Cinzel', serif;
        margin: 30px 0;
        text-align: center;
    }
    .p1-2{
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 50px;
        justify-content: center;
        padding: 50px;
    }
    .p1-2-item img{
        height: 23vh;
        display: block;
        margin: 0 auto;
        justify-content: center;
    }
    .header-item button.color{
        width: 90%;
        height: 10vh;
    }

    iframe{
        width: 100%;
    }
   .contact p{
       font-size: .9em;
   }
   .c-item h4{
    font-weight: 700;
    font-size: .9em;
    color: white;
}
   .whatsapp a img{
    position: fixed;
    top: 80vh;
    right: 5.5%;
    width: 12vw;
    
}
.c-item img{
    width: 5vw;
    margin: 0 10px;
}

}