*{
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;
    font-family: 'Montserrat', sans-serif;
}
body{
    font-size: 100%;
}
.box-header{
    display: flex;
    justify-content: center;
    padding: 30px 0;
    align-items: center;}
.box-header img{
    width: 15vw;
}
header{
    background-color:black;
}
header ul {
    list-style: none;
     text-align: center;
}
header ul li {
     display: inline-block;
     margin: 35px 15px 30px 10px;
     font-family: 'Montserrat', sans-serif;
     color: white;
 }
header ul li a{
     text-decoration: none;
     color: white;
     font-size: 1rem;
 }
header ul li:first-child a,header ul li a:hover{
    color: #f9d068;
}

.header-box{
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    padding:50px 0 ;
}
.header-item{
    display: flex;
    flex-direction: column;
}
.header-item img{
    align-self: center;
    width: 40vw;
}
.header-item h1{
    color: #f9d068;
    align-self: center;
    font-family: 'Cinzel', serif;
    font-weight: 600;
    font-size: 1.5rem;
}
.header-item h2{
    color: white;
    align-self: center;
    font-weight: 300;
    margin: 40px 0;
    font-size:1.2rem;
}
.header-item button.color {
    background-color:transparent;
    color: white;
    width: 20vw;
    height: 10vh;
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    border: 2px solid #97814e;
    border-radius: 10px;
}
label #sign-one,  label #sign-two{
    
    font-size: 1rem;
   color: #ebcb7a;
    float: right;
    margin-right: 30px;
    cursor: pointer;
    display: none;
    z-index: 13;
}
#res-menu{
    display: none;
}
.fa-bars{
   display: flex;
   align-items: center;
   }


.pag-one h1{
    font-family: 'Cinzel', serif;
    font-weight: 400;
    width: 30%;
    display: block;
    margin: 0 auto;
    padding: 30px 0;font-size: 1.5rem;
}

.p1-box{
    display: grid;
    grid-template-columns: 80%;
    grid-gap: 50px;
    justify-content: center;
    padding: 50px 0;
}
.p1-item p{
    margin: 20px 0;
    font-weight: 400;
    font-size: .8rem;
}
.p1-item h3{
 margin: 20px 0;
 text-align: center;font-size: 1.2rem;
}

.p1-2{
    display: grid;
    grid-template-columns: 90%;
    grid-gap: 50px;
    align-items: center;
    justify-content: center;
}
.p1-2-item img{
    width:46vw;
}
.box-one{
    display: grid;
    grid-template-columns: 50% 50%;
    border-radius: 20px;
    justify-content: center;
    align-self:center;
    box-shadow: 0 0 15px #dcdcdc;
}
.box-one:nth-child(2){
    display: grid;
    grid-template-columns: 100%;
    border-radius: 20px;
    justify-content: center;
    align-self:center;
    box-shadow: 0 0 15px #dcdcdc;
}
.b-item{
    display: flex;
    flex-direction: column;
    justify-content:stretch;
    align-items: stretch;
}
.box-one img{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;

}
.box-one .active{
   border-radius: 0;
   border-bottom-left-radius: 20px;
   border-top-left-radius: 20px;

}
.box-one h3{
    font-size: 1.2rem;
    font-family: 'Cinzel', serif;
    margin: 30px 0;
    margin-bottom: 15px;
    text-align: center;
}
.box-one li{
    font-size: .8rem;
    width: 80%;
    margin-left: 50px;
}
.pag-one h2{
    text-align: center;
    font-size: 2rem;
    font-family: 'Cinzel', serif;
    font-weight: 400;
    padding: 50px 0;
}
.pag-one h2 b{
    font-family: 'Cinzel', serif;

}
.instagram{
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
}

.blog{
    background-color: #ffffff;
}
.blog h1{
    text-align: center;
    padding: 50px 0;

}
.blog-box{
    display: grid;
    grid-template-columns: 22% 22% 22%;
    grid-gap: 50px;
    padding-bottom: 50px;
    justify-content: center;

}
.blog-item{
    box-shadow: 0 0 20px #f1f1f1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    padding-bottom: 30px;
}
.blog-item h3{
    font-size: 1rem;
    font-family: 'Cinzel', serif;
    margin: 30px 0;
    margin-bottom: 0;
    text-align: center;
    width: 90%;
}
.blog-item p{
    margin: 30px 0;
}
.blog-item p a{
    text-decoration: none;
    color: #f9d068;
}

.blog-item img{
    width: 22vw;
    height: 30vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.faq h1{
    font-family: 'Cinzel', serif;
    font-weight: 400;
    text-align: center;
    padding: 50px 0;
}
#accordion{
    width:90%;
    display: block;
    margin: 50px auto;
    border-radius: 35px;
    box-shadow: 0 0 15px #dcdcdc;
}
.faq .btn{
    background-color: #f8f9fb;
    color: #f9d068;
        font-weight:600;
    font-size: .7rem;
}
.collapse{
    background-color: #f3f3f3;
    color: #2b2b2b;
    font-weight:400;

}

.contact{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
}
.c-item h3{
    font-size: 1.5rem;
    font-family: 'Cinzel', serif;
    margin: 30px 0;
    text-align: center;
    color: #f9d068;
}
.c-item p{
    font-size: .8rem;
    margin: 10px 0;
    text-align: center;
    color: white;
}
.c-item img{
    width: 2vw;
    margin: 0 10px;
}
.c-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 4%;
    justify-content: center;
}
form .input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
    justify-content:  center;
    width: 100%;  
    display: block;
    margin: 0 auto;
}
.input-fields input, .msg textarea{
    margin: 10px 0;
    background:transparent;
    border:0;
    border-bottom: 2px solid #f9d068;
    padding:10px;
    color: #f9d068;
    width:100%;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
}
.msg textarea{
    height: 80px;
    width: 100%;
}
.input-fields button{
    background-color: #f9d068;
    color: #f9d068;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    width: 38%;
}
.whatsapp a img{
    position: fixed;
    top: 81vh;
    right: 2.5%;
    width: 4vw;
    
}

footer p{
    text-align: center;
    padding: 15px 0;
   
}
footer p a{
    color:#f9d068 ;
    text-decoration: none;
    text-align: center;
}

@media screen and (max-width:900px){
    .box-header{
        flex-direction: column;
        align-items: flex-end;
        width: 90%;
    }.box-header img{
        width: 40vw;
    }

    .header-box, .box-one{
        grid-template-columns: 90%;
    }
    .header-box img{
        width: 70vw;
        padding-top: 30px;
    }

    header ul li a{
        text-decoration: none;
        color: white;
        font-size: .5rem;
    }
    label #sign-one{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 50vh;
        background-color:#000;
        top:50px;
        left:-100%;
        text-align: center;
        transition: .5s;
        z-index: 10;
        margin-top: 20px;
    }
    nav ul li{
        display: block;
        margin: 40px 0;
        line-height: 10px;
    }
    
    label #sign-one,  label #sign-two{
        position: fixed;
        z-index: 11;
    }
    #res-menu:checked ~ ul{
        left: 0;
    }
    #res-menu:checked ~ #sign-one{
        display: none;
    }
    #res-menu:checked ~ #sign-two{
        display: block;
    }

    .pag-one h1{

        font-size: 1rem;
        font-family: 'Cinzel', serif;
        font-weight: 400;
        width: 80%;
        display: block;
        margin: 0 auto;
        padding: 50px 0;
    }
    .pag-one h2{
        font-size: 1.1rem;
        font-family: 'Cinzel', serif;
        margin: 30px 0;
        text-align: center;
    }
    .p1-2{
        display: grid;
        grid-template-columns: 90%;
        grid-gap: 50px;
        justify-content: center;
    }
    .p1-2-item img, .b-item .active{
       width: 90vw;
       height: auto;
       border-radius: 0;
    }
    .b-item{align-items: center;}
    .header-item button.color{
        width: 90%;
        height: 10vh;
    }
    .blog-box{grid-template-columns: 90%;}
    .blog-item img{width: 90vw;}
    iframe{
        width: 90%;
    }
   .contact p{
       font-size: .7rem;
   }
   .c-item h4{
    font-weight: 700;
    font-size: .9rem;
    color: white;
}
   .whatsapp a img{
    position: fixed;
    top: 80vh;
    right: 5.5%;
    width: 12vw;
    
}
.c-item img{
    width: 5vw;
    margin: 0 10px;
}

}