@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{margin: 0 ; padding: 0; font-family: 'Montserrat', sans-serif;box-sizing: border-box}

body{font-size: 100%;}

.p1-box{display: flex;justify-content: center;align-items: flex-start;padding: 2em;}
.p1-item{display: flex;justify-content: flex-start;align-items:center;flex-direction: column}
.p1-item:first-child{margin-right: 5vw}
.p1-item img{width: 40vw;margin-bottom:2vh;}
.p1-item h1{font-size:1.5rem;margin-bottom: 2vh;}
.p1-item h2{font-size:1.2rem;margin-bottom: 2vh;color: #35833a;font-weight: 600;}
.p1-item h3{font-size:1rem;margin-bottom: 2vh;font-weight: 500;}
.p1-item p{font-size:.7rem;margin-bottom: 2vh;font-weight: 400;}

.p1-item-box-1{display: flex;align-items: center;justify-content: center;flex-direction: column;}

.p1-item-1{display: flex;align-items: center;justify-content: center;}
.p1-item-1 img{width: 2vw;margin-right: 1vw;}

.p1-button{display: flex;align-items: center;justify-content: center;margin: 5vh 0;
    background-color: #35833a;width: 25vw;box-shadow: 0px 5px 10px black;}
.b-1{height: 12vh;display: flex;place-items: center;}
.b-1 img{width: 4vw; margin: 0;}

/* start Button sctucture*/
.button{color:#ffffff;text-align: center;height: 8vh;
    font-size: .9rem;cursor: pointer; text-transform: uppercase; border-radius: 5px;
    font-weight: 700;margin: 3vh 0;width: 18vw;display: flex;align-items: center;
    justify-content: center}
 .button a{ color: #ffffff;text-decoration: none;font-weight: 600;}
 .button a:hover{color: #ffffff;text-decoration: none;}
/* end Button sctucture*/

.popup{height: 100vh;position: absolute;top: 0;display: none;place-items: center;}
.popup-content{height: 250px;width: 500px;background-color: #ffffff;padding: 20px;border-radius: 5px;position: relative;box-shadow: 0 0 20px grey;}
form{display: flex;justify-content: center;align-items: center;flex-direction: column;}
form input, .infusion-submit button{margin: 2vh 0;width: 50%;padding: .5em;border: 2px solid #35833a;}
.close{position: absolute;top:10px;right: -225px;height: 20px;width: 20px;border-radius: 50%;cursor:  pointer;}

footer p{font-size: .7rem;padding: 1vh 0;margin: 0 3vw;}
.alert p{display: block;width: 80%;margin: 0 auto;text-align: center;}
footer p a{color:#35833a; text-decoration: none;}
.f-i{display: flex;justify-content: space-between;}

@media screen and (max-width:900px){
    .p1-box{flex-direction: column;align-items: center;}
    .p1-item{justify-content: center;}
    .p1-item img{width:80vw;}
    .p1-item h1{font-size:1.5rem;margin-bottom: 2vh;}



    .p1-item-1{flex-direction: column;}
    .p1-item-1 img{width: 10vw;margin-right: 1vw;}

    .p1-button{width: 80vw;}
    .b-1 img{width: 8vw; margin: 0;}

    .button{width: 70vw;}

    .f-i{flex-direction: column;align-items: center;}
}